<%= form_for(@booker) do |f| %>
  <% if @booker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booker.errors.count, "error") %> prohibited this booker from being saved:</h2>

      <ul>
      <% @booker.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
