<p id="notice"><%= notice %></p>

<p>
  <b>Rutmodelo:</b>
  <%= @detallecompetencia.rutmodelo %>
</p>

<p>
  <b>Nombremodelo:</b>
  <%= @detallecompetencia.nombremodelo %>
</p>

<p>
  <b>Apellidomodelo:</b>
  <%= @detallecompetencia.apellidomodelo %>
</p>

<p>
  <b>Categoria:</b>
  <%= @detallecompetencia.categoria %>
</p>

<p>
  <b>Nombreresponsable:</b>
  <%= @detallecompetencia.nombreresponsable %>
</p>

<p>
  <b>Totalfactura:</b>
  <%= @detallecompetencia.totalfactura %>
</p>

<p>
  <b>Comisionnma:</b>
  <%= @detallecompetencia.comisionnma %>
</p>

<p>
  <b>Impuesto:</b>
  <%= @detallecompetencia.impuesto %>
</p>

<p>
  <b>Agenciamadre:</b>
  <%= @detallecompetencia.agenciamadre %>
</p>

<p>
  <b>Comisionamadre:</b>
  <%= @detallecompetencia.comisionamadre %>
</p>


<%= link_to 'Edit', edit_detallecompetencia_path(@detallecompetencia) %> |
<%= link_to 'Back', detallecompetencias_path %>
