<link href="http://www.luis-ramirez.cl/newmodels/sglea.css" media="screen" rel="stylesheet" type="text/css" />
<div><img src="http://www.luis-ramirez.cl/newmodels/logo.jpg" width="100" height="98" /></div>
<h1>INFORME DE TRABAJO N° <%=@competencia.id%> </h1>
      <table class='sglea'>
        <tr>
          <td class='tit'>Tipo de Compentencia</td>
          <td class='inp'><%=@competencia.tipocompetencia%></td>
          <td class='tit'>Nº Orden de Compra</td>
          <td class='inp'><%=@competencia.nroorden%></td>
          <td class='tit'>Producto</td>
          <td class='inp'><%=@competencia.producto%></td>
        </tr>
        <tr>
          <td class='tit'>Campaña</td>
          <td class='inp'><%=@competencia.campana%></td>
          <td class='tit'>Razón Social</td>
          <td class='inp'><%=@competencia.razonsocial%></td>
          <td class='tit'>RUT</td>
          <td class='inp'><%=@competencia.rut%></td>
        </tr>
        <tr>
          <td class='tit'>Dirección</td>
          <td class='inp'><%=@competencia.direccion%></td>
          <td class='tit'>Telefono</td>
          <td class='inp'><%=@competencia.telefono%></td>
          <td class='tit'>Giro</td>
          <td class='inp'><%=@competencia.giro%></td>
        </tr>
        <tr>
          <td class='tit'>Productor</td>
          <td class='inp'><%=@competencia.productor%></td>
          <td class='tit'>Fotografo</td>
          <td class='inp'><%=@competencia.fotografo%></td>
          <td class='tit'>Fecha Fotografia</td>
          <td class='inp'><%=@competencia.fechafoto.try(:strftime, "%d-%m-%Y")%></td>
        </tr>
        <tr>
          <td class='tit'>Agencia Publicidad</td>
          <td class='inp'><%=@competencia.agencia%></td>
          <td class='tit'>Fecha Filmación</td>
          <td class='inp'><%=@competencia.fechafilmacion.try(:strftime, "%d-%m-%Y")%></td>
          <td class='tit'>Fecha Comercial</td>
          <td class='inp'><%=@competencia.fechacomercial.try(:strftime, "%d-%m-%Y")%></td>
        </tr>
        <tr>
          <td class='tit'>Tiempo Exhibición</td>
          <td class='inp'><%=@competencia.texhibiciondia%></td>
          <td class='tit'>Medios</td>
          <td class='inp'><%=@competencia.medios%></td>
          <td class='tit'>Paises</td>
          <td class='inp'><%=@competencia.paises%></td>
        </tr>
        <tr>
          <td class='tit'>Responsable</td>
          <td class='inp'><%=@competencia.bookerresponsable%></td>
          <td class='tit'>Tipo Factura</td>
          <td class='inp'><%=@competencia.tipofactura%></td>
          <td class='tit'>Nº Factura</td>
          <td class='inp'><%=@competencia.nrofactura%></td>
        </tr>
        <tr>
          <td class='tit'>Fecha Factura</td>
          <td class='inp'><%=@competencia.fechafactura.try(:strftime, "%d-%m-%Y")%></td>
          <td class='tit'>Reexhibición</td>
          <td class='inp'><%=@competencia.reexhibicion%></td>
          <td class='tit'>Grafica</td>
          <td class='inp'><%=@competencia.grafica%></td>
        </tr>
        <tr>
          <td class='tit'>Contrato</td>
          <td class='inp'><%=@competencia.contrato%></td>
          <td class='tit'>Productora</td>
          <td class='inp'><%=@competencia.productora%></td>
          <td class='tit'>Observaciones</td>
          <td class='inp' colspan='4'><%=@competencia.observaciones%></td>
        </tr>
      </table>

        <table class='sglea'>
              <tr>
                <td class='titg'>Rut</td>
                <td class='titg'>Nombre</td>
                <td class='titg'>Apellido</td>
                <td class='titg'>Categoria</td>
                <td class='titg'>Responsable</td>
                <td class='titg'>Total Factura</td>
                <td class='titg'>Comisión NMA</td>
                <td class='titg'>Impuesto</td>
                <td class='titg'>Agencia Madre</td>
                <td class='titg'>Comisión A.Madre</td>
              </tr>
            <% @competencia.detallecompetencias.each do |detalle| %>  
              <tr>
                <td class='inp'><%=detalle.rutmodelo%></td>
                <td class='inp'><%=detalle.nombremodelo%></td>
                <td class='inp'><%=detalle.apellidomodelo%></td>
                <td class='inp'><%=detalle.categoria%></td>
                <td class='inp'><%=detalle.nombreresponsable%></td>
                <td class='inp'><%=detalle.totalfactura%></td>
                <td class='inp'><%=detalle.comisionnma%></td>
                <td class='inp'><%=detalle.impuesto%></td>
                <td class='inp'><%=detalle.agenciamadre%></td>
                <td class='inp'><%=detalle.comisionamadre%></td>
            <%end%>
            </table>
            
  

  