<link href="http://www.luis-ramirez.cl/newmodels/sglea.css" media="screen" rel="stylesheet" type="text/css" />
<div><img src="http://www.luis-ramirez.cl/newmodels/logo.jpg" width="100" height="98" /></div>
<h2>INFORME DE TRABAJO N° <%=@competencia.id%> </h1>
    <table width="100%" border="1" cellspacing="0" cellpadding="0">
        <tr>
          <td width="16%" bgcolor="#B4B4B4">Tipo de Compentencia</td>
          <td width="16%"><%=@competencia.tipocompetencia%></td>
          <td width="16%" bgcolor="#B4B4B4">Nº Orden de Compra</td>
          <td width="16%"><%=@competencia.nroorden%></td>
          <td width="16%" bgcolor="#B4B4B4">Producto</td>
          <td width="16%"><%=@competencia.producto%></td>
        </tr>
        <tr>
          <td  bgcolor="#B4B4B4">Campaña</td>
          <td ><%=@competencia.campana%></td>
          <td  bgcolor="#B4B4B4">Razón Social</td>
          <td ><%=@competencia.razonsocial%></td>
          <td  bgcolor="#B4B4B4">RUT</td>
          <td ><%=@competencia.rut%></td>
        </tr>
        <tr>
          <td  bgcolor="#B4B4B4">Dirección</td>
          <td  ><%=@competencia.direccion%></td>
          <td  bgcolor="#B4B4B4">Telefono</td>
          <td ><%=@competencia.telefono%></td>
          <td  bgcolor="#B4B4B4">Giro</td>
          <td ><%=@competencia.giro%></td>
        </tr>
        <tr>
          <td  bgcolor="#B4B4B4">Productor</td>
          <td ><%=@competencia.productor%></td>
          <td  bgcolor="#B4B4B4">Fotografo</td>
          <td ><%=@competencia.fotografo%></td>
          <td  bgcolor="#B4B4B4">Fecha Fotografia</td>
          <td ><%=@competencia.fechafoto.try(:strftime, "%d-%m-%Y")%></td>
        </tr>
        <tr>
          <td  bgcolor="#B4B4B4">Agencia Publicidad</td>
          <td ><%=@competencia.agencia%></td>
          <td bgcolor="#B4B4B4">Fecha Filmación</td>
          <td ><%=@competencia.fechafilmacion.try(:strftime, "%d-%m-%Y")%></td>
          <td  bgcolor="#B4B4B4">Fecha Comercial</td>
          <td ><%=@competencia.fechacomercial.try(:strftime, "%d-%m-%Y")%></td>
        </tr>
        <tr>
          <td  bgcolor="#B4B4B4">Tiempo Exhibición</td>
          <td ><%=@competencia.texhibiciondia%></td>
          <td  bgcolor="#B4B4B4">Medios</td>
          <td ><%=@competencia.medios%></td>
          <td  bgcolor="#B4B4B4">Paises</td>
          <td ><%=@competencia.paises%></td>
        </tr>
        <tr>
          <td  bgcolor="#B4B4B4">Responsable</td>
          <td ><%=@competencia.bookerresponsable%></td>
          <td  bgcolor="#B4B4B4">Tipo Factura</td>
          <td ><%=@competencia.tipofactura%></td>
          <td  bgcolor="#B4B4B4">Nº Factura</td>
          <td ><%=@competencia.nrofactura%></td>
        </tr>
        <tr>
          <td  bgcolor="#B4B4B4">Fecha Factura</td>
          <td ><%=@competencia.fechafactura.try(:strftime, "%d-%m-%Y")%></td>
          <td  bgcolor="#B4B4B4">Reexhibición</td>
          <td ><%=@competencia.reexhibicion%></td>
          <td  bgcolor="#B4B4B4">Grafica</td>
          <td ><%=@competencia.grafica%></td>
        </tr>
        <tr>
          <td  bgcolor="#B4B4B4">Contrato</td>
          <td ><%=@competencia.contrato%></td>
          <td  bgcolor="#B4B4B4">Productora</td>
          <td ><%=@competencia.productora%></td>
          <td  bgcolor="#B4B4B4">Observaciones</td>
          <td  colspan='4'><%=@competencia.observaciones%></td>
        </tr>
      </table>
      <br/>
      <h2> DETALLE INFORME </h2>
      <br/>
        <table width="100%" border="1" cellspacing="0" cellpadding="0">
              <tr bgcolor="#B4B4B4">
                <td >Rut</td>
                <td >Nombre</td>
                <td >Apellido</td>
                <td >Categoria</td>
                <td >Responsable</td>
                <td >Total Factura</td>
                <td >Comisión NMA</td>
                <td >Impuesto</td>
                <td >Agencia Madre</td>
                <td >Comisión A.Madre</td>
              </tr>
            <% @competencia.detallecompetencias.each do |detalle| %>  
              <tr>
                <td ><%=detalle.rutmodelo %></td>
                <td ><%=detalle.nombremodelo%></td>
                <td ><%=detalle.apellidomodelo%></td>
                <td ><%=detalle.categoria%></td>
                <td ><%=detalle.nombreresponsable%></td>
                <td ><%=detalle.totalfactura%></td>
                <td ><%=detalle.comisionnma%></td>
                <td ><%=detalle.impuesto%></td>
                <td ><%=detalle.agenciamadre%></td>
                <td ><%=detalle.comisionamadre%></td>
            <%end%>
            </table>
            
  

  