.fields 
  = f.hidden_field :_destroy 
  %table.sglea
    %tr
      %td.titg Tipo id
      %td.titg Rut
      %td.titg Nombre
      %td.titg Apellido
      %td.titg Categoria
      %td.titg Responsable
      %td.titg Total Factura
      %td.titg Comisión NMA
      %td.titg Impuesto
      %td.titg Agencia Madre
      %td.titg Impuesto Ag. Madre
    %tr
      %td.inp= manten f, :tipo_id, Mantenedor.tipoidentificacions, 'Seleccione por favor',{ :onchange => 'tipo_id_competencia(this);'} 
      %td.inp= f.text_field :rutmodelo, :size => 10, :onblur => "buscaModelo(this)"
      %td.inp= f.text_field :nombremodelo, :size => 10, :onblur => "upperCase(this)"
      %td.inp= f.text_field :apellidomodelo, :size => 10, :onblur => "upperCase(this)"
      %td.inp= manten f, :categoria, Mantenedor.ccompetencias, 'Seleccione por favor'
      %td.inp= f.text_field :nombreresponsable, :size => 10, :onblur => "upperCase(this)"
      %td.inp= f.text_field :totalfactura, :size => 10
      %td.inp= f.text_field :comisionnma, :size => 3
      %td.inp= f.text_field :impuesto, :size => 3 	
      %td.inp= f.collection_select :agenciamadre, Agenciamadre.all, :nombre, :nombre, :prompt => 'Seleccione por favor'
      %td.inp= f.text_field :comisionamadre, :size => 3
      %td.inp= link_to_remove_fields "X", f if not form_disabled
