<p id="notice"><%= notice %></p>

<p>
  <b>Cantidad:</b>
  <%= @lcotiza.cantidad %>
</p>

<p>
  <b>Personaje:</b>
  <%= @lcotiza.personaje %>
</p>

<p>
  <b>Rol:</b>
  <%= @lcotiza.rol %>
</p>

<p>
  <b>Tdia:</b>
  <%= @lcotiza.tdia %>
</p>

<p>
  <b>Tmes:</b>
  <%= @lcotiza.tmes %>
</p>

<p>
  <b>Tanno:</b>
  <%= @lcotiza.tanno %>
</p>

<p>
  <b>Medios:</b>
  <%= @lcotiza.medios %>
</p>

<p>
  <b>Pais:</b>
  <%= @lcotiza.pais %>
</p>

<p>
  <b>Valor:</b>
  <%= @lcotiza.valor %>
</p>

<p>
  <b>Diaadicional:</b>
  <%= @lcotiza.diaadicional %>
</p>

<p>
  <b>Diaviajado:</b>
  <%= @lcotiza.diaviajado %>
</p>


<%= link_to 'Edit', edit_lcotiza_path(@lcotiza) %> |
<%= link_to 'Back', lcotizas_path %>
