<script>
	function seleccion(rut,tipoid,nombre,apellido,responsable,agencia,modelo_id){
    //alert("rut=>"+rut+" tid =>"+tipoid+" nombre=>"+nombre+" apellido=>"+apellido+" responsable=>" +responsable+" agencia=>"+agencia);
		tid = <%= params[:id]%>;
		tid = tid.id;
	
		if(tid.indexOf("nombremodelo") !== -1){
		  trut = tid.replace('nombremodelo', 'rutmodelo');
		  tnid = tid.replace('nombremodelo', 'tipo_id');
      nom = tid.replace('nombremodelo', 'nombremodelo');
      ape = tid.replace('nombremodelo', 'apellidomodelo');
      rep = tid.replace('nombremodelo', 'nombreresponsable');
      age = tid.replace('nombremodelo', 'agenciamadre');
      mid = tid.replace('nombremodelo', 'id_modelo');
		}else{
		  trut = tid.replace('apellidomodelo', 'rutmodelo');
		  tnid = tid.replace('apellidomodelo', 'tipo_id');	
      nom = tid.replace('apellidomodelo', 'nombremodelo');
      ape = tid.replace('apellidomodelo', 'apellidomodelo');
      rep = tid.replace('apellidomodelo', 'nombreresponsable');
      age = tid.replace('apellidomodelo', 'agenciamadre');
      mid = tid.replace('apellidomodelo', 'id_modelo');
		}
	
		$('#'+tnid).val(tipoid)
		$('#'+trut).val(rut);
    $('#'+nom).val(nombre);
    $('#'+ape).val(apellido);
    $('#'+rep).val(responsable);
    $('#'+age).val(agencia);
    $('#'+mid).val(modelo_id);
		$("#dialog").dialog("close");
	}
</script>

<table border="1">
  <tr>
    <th>Nombre</th>
    <th>Apellido</th>
    <th></th>
  </tr>

<% @modelos.each do |modelo| %>
  <tr>
    <td><%= modelo.nombres %></td>
    <td><%= modelo.apellidos %></td>
    <td><a href="javascript:seleccion('<%= modelo.numero_id%>','<%= modelo.tipo_id%>','<%= modelo.nombres%>','<%= modelo.apellidos%>','<%= modelo.nombres_responsable + ' ' + modelo.apellidos_responsable %>','<%= modelo.agencia %>','<%= modelo.id%>');">Seleccionar </a></td>
  </tr>
<% end %>
</table>