%h2.titulo01 Listado de Modelos
= form_tag modelos_path, :method => 'get' do
  %p
    Nombre:  #{text_field_tag :search, params[:search]}
    \#{submit_tag "Buscar", :nombre => nil}
  %p
    Paginación: #{select_paginacion @per_page}
= will_paginate @modelos
%table.sglea.datos
  %tr
    %td.titg Foto
    %td.titg Nombres
    %td.titg Apellidos
    %td.titg Direccion
    %td.titg Comuna
    %td.titg Ver
    %td.titg Editar
    %td.titg Eliminar
  - @modelos.each do |modelo|
    %tr
      - if modelo.image.blank?
        %td= image_tag('/images/perfil.png', :size => "100x100")
      - else
        %td= image_tag(modelo.image.to_s,  :size => "100x100")
      %td= modelo.nombres
      %td= modelo.apellidos
      %td= modelo.direccion
      %td= modelo.comuna
      %td= link_to image_tag("ver.png"), modelo
      %td= link_to image_tag("editar.png"), edit_modelo_path(modelo)
      %td= link_to image_tag("eliminar.png"), modelo, :confirm => '¿Está Seguro?', :method => :delete
      
%br/
= link_button 'Agregar Modelo', new_modelo_path


