<p id="notice"><%= notice %></p>

<p>
  <b>Cod area:</b>
  <%= @telefono.cod_area %>
</p>

<p>
  <b>Telefono:</b>
  <%= @telefono.telefono %>
</p>


<%= link_to 'Edit', edit_telefono_path(@telefono) %> |
<%= link_to 'Back', telefonos_path %>
