<p id="notice"><%= notice %></p>

<p>
  <b>Estatura:</b>
  <%= @caracteristica.estatura %>
</p>

<p>
  <b>Calzado:</b>
  <%= @caracteristica.calzado %>
</p>

<p>
  <b>Idiomas:</b>
  <%= @caracteristica.idiomas %>
</p>

<p>
  <b>Tpantalon:</b>
  <%= @caracteristica.tpantalon %>
</p>

<p>
  <b>Tcamisa:</b>
  <%= @caracteristica.tcamisa %>
</p>

<p>
  <b>Busto:</b>
  <%= @caracteristica.busto %>
</p>

<p>
  <b>Cintura:</b>
  <%= @caracteristica.cintura %>
</p>

<p>
  <b>Cadera:</b>
  <%= @caracteristica.cadera %>
</p>

<p>
  <b>Cojos:</b>
  <%= @caracteristica.cojos %>
</p>

<p>
  <b>Ccabello:</b>
  <%= @caracteristica.ccabello %>
</p>

<p>
  <b>Lcabello:</b>
  <%= @caracteristica.lcabello %>
</p>

<p>
  <b>Etnia:</b>
  <%= @caracteristica.etnia %>
</p>

<p>
  <b>Email:</b>
  <%= @caracteristica.email %>
</p>

<p>
  <b>Hobbie:</b>
  <%= @caracteristica.hobbie %>
</p>

<p>
  <b>Mcuello:</b>
  <%= @caracteristica.mcuello %>
</p>

<p>
  <b>Terno:</b>
  <%= @caracteristica.terno %>
</p>

<p>
  <b>Desfile:</b>
  <%= @caracteristica.desfile %>
</p>

<p>
  <b>Dientes:</b>
  <%= @caracteristica.dientes %>
</p>

<p>
  <b>Actor:</b>
  <%= @caracteristica.actor %>
</p>

<p>
  <b>Frenillos:</b>
  <%= @caracteristica.frenillos %>
</p>

<p>
  <b>Experiencia:</b>
  <%= @caracteristica.experiencia %>
</p>

<p>
  <b>Hot:</b>
  <%= @caracteristica.hot %>
</p>


<%= link_to 'Edit', edit_caracteristica_path(@caracteristica) %> |
<%= link_to 'Back', caracteristicas_path %>
